button {
	background-color: transparent;
	border: none;
}

a {
	text-decoration: none;
	color: inherit;
	font-weight: bolder;
}

.cursor-pointer {
	cursor: pointer;
}

.navbar-toggler {
	border: none;
}

.navbar-toggler:focus {
	box-shadow: none;
}

.fs-sm {
	font-size: 10px;
}

.form-icon-group {
	position: relative;
}

.form-icon-group .form-control {
	padding-left: 3rem;
}

.form-icon-group .form-start-icon {
	position: absolute;
	top: 50%;
	left: 2.5rem;
	transform: translate(-50%, -50%);
	border-radius: 0.5rem;
	background-color: white;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-title {
	font-size: 30px;
	font-weight: bolder;
}

.main-subtitle {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 8px;
	font-weight: 900;
}

.login-dlg {
	padding: 18px 24px 10px;
	margin: 0px 20px;
	display: flex;
	flex-direction: column;
	max-width: 1332px;
	font-size: 12px;
}

.login-dlg input {
	font-size: 12px;
}

.service-section {
	margin-left: 25px;
	margin-right: 25px;
}

.service-title {
	font-size: 20px;
}

.service-subtitle {
	font-size: 12px;
}

.testimonial-subtitle {
	font-size: 12px;
}

.service-card-wrapper {
	padding: 0 1rem;
	position: relative;
	overflow: hidden;
}

.service-card-wrapper::after,
.service-card-wrapper::before {
	position: absolute;
	width: 1rem;
	height: 100%;
	content: "";
	z-index: 999;
	top: 0;
}

.service-card-wrapper::after {
	right: 0;
	background-color: #ff6060;
}

.service-card-wrapper::before {
	left: 0;
	background-color: #ff6060;
}

.service-card-image {
	width: 76px;
	height: 76px;
	border-radius: 0.5rem;
	background-color: #f0f5ff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sz-child {
	position: relative;
	width: 100%;
}

.service-card h6 {
	font-size: 10px;
}

.service-card {
	width: 100%;
}

.slide-list {
	transition: all 0.8s ease-in-out;
}

.btn-testimonial {
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background-color: #dadada;
	transition: all 0.4s ease-in-out;
}

.btn-testimonial.active {
	width: 40px;
	background-color: #ff6060;
}

.testimonial-content {
	transition: all 0.5s ease-in-out;
}

.accordion-head {
	background-color: transparent;
}

.accordion-head h5 {
	font-size: 14px;
}

.accordion-head.active {
	color: white;
}

.accordion-body {
	max-height: 0px;
	overflow: hidden;
	transition: max-height 0.4s ease-in-out;
	color: white;
	font-weight: 600;
}

.accordion-content {
	padding: 0.4rem;
	line-height: 1.5rem;
	font-size: 12px;
}

.accordion-close {
	transition: transform 0.4s ease-in-out;
}

.active .accordion-close {
	transform: rotate(45deg);
}

.details-card {
	background: white;
	cursor: pointer;
}

.details-card:hover {
	background-color: #ff6060;
	transition: all 0.6s ease-in-out;
	color: white;
}

@media (min-width: 576px) {
	.main-title {
		font-size: 36px;
	}

	.main-subtitle {
		font-size: 12px;
	}

	.login-dlg input {
		font-size: 16px;
	}

	.login-dlg {
		padding: 20px 40px 20px;
		margin: 0px 50px;
		flex-direction: column;
		font-size: 16px;
	}

	.service-section {
		margin-left: 40px;
		margin-right: 40px;
	}

	.service-title {
		font-size: 24px;
	}

	.service-subtitle {
		font-size: 14px;
	}

	.service-card h6 {
		font-size: 12px;
	}
}

@media (min-width: 768px) {
	.main-title {
		font-size: 40px;
	}
	.main-subtitle {
		font-size: 14px;
	}
	.login-dlg {
		padding: 28px 54px 24px;
		margin: 0px 110px;
		flex-direction: column;
		font-size: 18px;
	}

	.login-dlg input {
		font-size: 18px;
	}

	.service-section {
		margin-left: 60px;
		margin-right: 60px;
	}

	.service-title {
		font-size: 28px;
	}

	.service-subtitle {
		font-size: 18px;
	}

	.service-card-wrapper::after,
	.service-card-wrapper::before {
		width: 2rem;
	}

	.service-card-wrapper {
		padding: 2rem;
	}

	.service-card h6,
	.accordion-head h5 {
		font-size: 14px;
	}

	.accordion-content {
		padding: 0.5rem 0.5rem 0.2rem;
		line-height: 1.5rem;
		font-size: 14px;
	}
}

@media (min-width: 992px) {
	.main-title {
		font-size: 72px;
	}
	.main-subtitle {
		font-size: 18px;
	}
	.login-dlg {
		padding: 32px 50px 28px;
		margin: 0px 100px;
		flex-direction: row;
	}

	.service-section {
		margin-left: 75px;
		margin-right: 75px;
	}

	.service-title {
		font-size: 32px;
	}

	.service-subtitle {
		font-size: 20px;
	}

	.service-card h6,
	.accordion-head h5 {
		font-size: 16px;
	}

	.service-card {
		width: 50%;
	}

	.testimonial-subtitle {
		font-size: 14px;
	}

	.accordion-content {
		padding: 0.5rem 0.5rem 0.2rem;
		line-height: 1.5rem;
		font-size: 16px;
	}
}

@media (min-width: 1200px) {
	.login-dlg {
		padding: 32px 50px 28px;
		margin: 0px 120px;
		flex-direction: row;
	}

	.service-section {
		margin-left: 105px;
		margin-right: 105px;
	}

	.service-title {
		font-size: 36px;
	}

	.service-subtitle {
		font-size: 22px;
	}
}

@media (min-width: 1400px) {
	.login-dlg {
		padding: 32px 50px 28px;
		margin: 0px 134px;
		flex-direction: row;
	}

	.accordion-head h5 {
		font-size: 20px;
	}

	.accordion-content {
		padding: 0.7rem 0.6rem 0.2rem;
		line-height: 1.5rem;
		font-size: 18px;
	}
}

@media (min-width: 1600px) {
	.login-dlg {
		margin: 0px auto;
	}

	.service-section {
		margin-left: auto;
		margin-right: auto;
	}
}
